{% extends 'base.html' %}

{% block content %}
  <h2>Вход</h2>
  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>

  <!-- Кнопка выхода -->
  {% if user.is_authenticated %}
    <form method="post" action="{% url 'users:logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger mt-2">Выйти</button>
    </form>
  {% endif %}

  <p>Не зарегистрированы? <a href="{% url 'users:register' %}">Зарегистрируйтесь</a>.</p>
{% endblock %}
