<!-- profile.html -->
{% extends 'base.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
  <h2>Профиль пользователя</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить изменения</button>
  </form>

  <h2>Мои рассылки</h2>
  {% if subscriptions %}
    <ul>
      {% for subscription in subscriptions %}
        <li>{{ subscription.name }} - {{ subscription.description }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас пока нет созданных рассылок.</p>
  {% endif %}
{% endblock %}
