<!-- product_list.html -->
{% extends 'base.html' %}

{% block title %}Список продуктов{% endblock %}

{% block content %}
    <div class="container">
        <h1>Список продуктов</h1>
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <!-- Остальные поля продукта -->

                {% if product.active_version %}
                    <p>Активная версия: {{ product.active_version.version_number }} - {{ product.active_version.version_name }}</p>
                {% else %}
                    <p>Нет активной версии</p>
                {% endif %}

                <a href="{% url 'catalog:product_detail' product_id=product.id %}" class="btn btn-outline-primary">Подробнее</a>
                <a href="{% url 'catalog:edit_product' product_id=product.id %}" class="btn btn-outline-warning">Редактировать</a>
                <a href="{% url 'catalog:delete_product' product_id=product.id %}" class="btn btn-outline-danger">Удалить</a>
            </div>
        {% endfor %}

        <div class="pagination">
            <!-- Код пагинации, если нужно -->
        </div>

        <a href="{% url 'catalog:home' %}" class="btn btn-primary mt-3">Вернуться в каталог</a>
    </div>
{% endblock %}
